<div class="login-container">
  <!-- Icono SVG personalizado -->
  <div class="logo">
    <mat-icon svgIcon="logo" class="icon"></mat-icon>
  </div>

  <!-- Formulario de inicio de sesión -->
  <form>
    <!-- Cedula -->
    <app-label label="Número de Cédula" type="text" placeholder="Ingrese el número de cedula" appearance="outline" [required]="true"></app-label><br>

    <!-- Contraseña -->
    <app-label label="Contraseña" type="password" placeholder="Ingrese la contraseña" [required]="true"></app-label>

    <!-- Olvidar contraseña -->
    <div class="forgot-password">
      <a>¿Olvidaste tu contraseña?</a>
    </div>

    <app-button label="Iniciar Sesión" type="filled" color="primary"></app-button>
  </form>

</div>