.overlay-area {
  position: relative;
}

.position {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 1000;             
  border-radius: 9999px;
  box-shadow: 0 8px 24px rgba(0,0,0,.2);
}
