<mat-nav-list class="container">
    <!-- LOGO -->
    <div class="logo">
        <mat-icon class="icon" svgIcon="logo"></mat-icon>
    </div>

    <div>
        @for (item of listMenu; track $index) {
            <mat-list-item>
                <a [routerLink]="item.url">
                    <button mat-icon-button>
                        <mat-icon [svgIcon]="item.icon"></mat-icon>
                        <span>{{ item.title }}</span>
                    </button>
                </a>
            </mat-list-item>
        }
    </div>

    <div class="user">
        <mat-icon class="icon" svgIcon="user"></mat-icon>
        <p>ADMIN</p>
        <button class="btn-close" mat-flat-button color="warn">
            Cerrar Sesión
        </button>
    </div>
</mat-nav-list>